<% if (site.tags.length){ %>
<aside class="widget">
    <h3 class="widget-title"><%= __('widget.tagcloud') %></h3>
    <div class="widget-content tag-cloud">
        <%- tagcloud() %>
    </div>
</aside>
<% } %>