<article class="archive-post archive-type-<%= post.layout %>">
  <div class="archive-post-inner">
    <header class="archive-post-header">
      <%- partial('_post/date', {class_name: 'archive-post-date', date_format: 'MMM D'}) %>
      <%- partial('_post/title', {class_name: 'archive-post-title'}) %>
    </header>
  </div>
</article>