@navbar-border-radius: 0;

#site-nav{
  height: @site-header-height;
  
  .navbar{
    background-color: rgba(0,0,0,0.08);
    margin:-@navbar-height 0 0;
    border: none;
    
    .navbar-toggle{
      border: none;
      &:hover,&:focus{
        color:white;
        background-color: @link-btn-hover-color;
        border-color: @link-btn-hover-color;
      }
    }
    .navbar-nav{
      li{
        z-index: 1;
      }
    }
    //.navbar-nav{
    //  a:hover{
    //    color:white;
    //    background-color: @profile-hover-color;
    //    border-color: @profile-hover-color;
    //  }
    //}
  }
  
  
}

.sticky{
  position: fixed;
  right: 0;
  left: 0;
  z-index: @zindex-navbar-fixed;
  top: 0;
  height: @navbar-height !important;
  .navbar{
    background-color: transparent !important;
    .header-shadow();
  }
}

#banner{
  height: 100%;
  background-image: url(/img/banner.jpg);
}