.post, .post-list{
  .post-tag-list {
    a {
      display: inline-block;
      margin-right: 10px;
      font-size: 13px;
    }
  }
  
  .post-tag-list-link{
    &:before{
      content: "#";
    }
  }
}
