<% if(post.comments){ %>
    <% if(theme.disqus && theme.disqus.shortname && theme.disqus.count){ %>
        <span class="post-comments-count">
            &nbsp; | &nbsp;
            <a href="<%- url_for(post.path) %>#comments" itemprop="discussionUrl">
                <span class="post-comments-count disqus-comment-count" data-disqus-identifier="<%- post.path %>" itemprop="commentsCount"></span>
            </a>
        </span>
    <% } %>
<% } %>